/* polices*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap');



@import "./Utils/variables";
@import "./Utils/mixins";
@import "./Base/base";
@import "./Base/typo";
@import "./Components/buttons";
@import "./Components/animations";
@import "./Layouts/header";
@import "./Layouts/footer";



/*####################################################################################################*/
/*############################################# PAGE INDEX ###########################################*/
/*####################################################################################################*/



/* loader spinner  */

@include loader;




/* partie explorer*/

.explore {
    background-color: map-get($background, explore);
    text-align: center;
    padding-bottom: 4rem;
    
    &__titre {
    margin: 0rem 0rem 0rem 0rem;
    padding: 2.3rem 3rem 0 3rem;

    }

    &__soustitre {
        font-size: 1.1rem;
        font-weight: 300;
        margin: 1rem 0rem;
        padding-bottom: 1rem;
    }
}


/* partie fonctionnement*/


.fonctionnement {
    @include flex-column;
    background-color: map-get($background, fonctionnement);
    width: 100%;
    padding-left: 8vw;
    padding-right: 5vw;
    padding-top: 20px;
    padding-bottom: 45px;
    h2 {
        margin-left: -0.8rem;
    }

    @include tablette-only {
        @include flex-row;
        @include flex-wrap;
        @include flex-space-between;
        
        padding-left: 4vw;
        h2 {
            margin-left: 0;
            width: 100%;
        }
    }

    @include desktop-only {
        @include flex-row;
        @include flex-wrap;
        @include flex-space-between;
        h2 {
            width: 100%;
        }
    }
}



/*cartes affichage restaurants*/



.restaurants {
    background-color: map-get($background, restaurants);
    @include flex-column;
    width: 100%;
    padding: 2rem 4vw 3.2rem 4vw;
    margin-bottom: 0rem;

    
    
    &__haut {
        
        @include desktop-only {
            @include flex-row;
            @include flex-space-between;
        }
    }
    
    &__bas {
        margin-top: 0rem;
        padding-top: 0rem;
        
        @include desktop-only {
            @include flex-row;
            @include flex-space-between;
        }
    }
    

    .resto {
        
        @include flex-column;
        @include radius-cartes;
        @include flex-space-between;

        box-shadow: 4px 4px 10px 1px rgb(229, 229, 229);
        width: 100%;
        margin-top: 0;
        margin-bottom: 1.2rem;
        margin-left: 0;
        margin-right: 0;
        height: 15rem;
        background-color: $fond-blanc;
        
        @include desktop-only {
            width: 43vw;
        }

        a {
            height: 70%;
        }

        &__img {

            @include radius-images;

            height: 100%;
            width: 100%;
        }

        &__nouveau {
            
            background-color: $couleur-tertiaire;
            text-align: center;
            font-size: 0.9rem;
            padding-top: 8px;

            @include police-nouveau;

            height: 30px;
            width: 90px;
            border-radius: 2px;
        }

        &__nouveau--boite {
            height: 50px;
            width: 110px;
            align-self: flex-end;
            position: absolute;
            padding-left: 10px;
            
        }

        &__bas {
            @include flex-row;
            margin-top: 0rem;
            margin-bottom: 1rem;

            @include desktop-only {
                margin-bottom: 1rem;
            }
        }

        &__description {
            width: 100%;
            padding-top: 0.5rem;
            padding-left: 0.8rem;
        }
        
        &__nom {
            font-size: 1.1rem;
            padding: 0rem;
            margin: 0rem 0rem 0.25rem 0rem;
        }

        &__lieu {
            font-size: 1rem;
            font-weight: 300;
            margin: 0rem;
        }
    }
}



/*####################################################################################################*/
/*########################################## PAGES RESTAURANTS #######################################*/
/*####################################################################################################*/




/* pages restaurants */

.menu {
    
    @include flex-column;
    margin-top: 0px; 
    

    h2 {
        margin-left: 0.5rem;
    }
    
    .resto__img {
        @include desktop-only{
        height: 40vh;
        }
    }
    
    .carte {
        background-color: map-get($background, explore);
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;
        
        padding-left: 2vw;
        padding-right: 2vw;
        padding-bottom: 10vh;
        margin-top: -48px;

        @include desktop-only {
            @include flex-row;
            @include flex-wrap;
            @include flex-space-between;
            
            .carte__haut {
                width: 100%;
            }
        }
        
    
        &__haut {
        
            @include flex-row;
            padding-top: 0.5rem;
            padding-right: 12px;
            /*margin-right: 5rem;*/

    
            h1 {
                width: 100%;
                font-size: 1.5rem;
                margin-left: 0.6rem;
            }
        }

        &__entrees {
            .souligne{
            @include barre-souligne;
            }
        }

        &__plats {
            margin-top: 2.5rem;
            .souligne{
            @include barre-souligne;
            }

            @include desktop-only {
                margin-top: 0rem;
            }
        }

        &__desserts {
            margin-top: 2.5rem;
            .souligne{
                @include barre-souligne;
                }

            @include desktop-only {
                margin-top: 0rem;
            }
        }

        .plats {
            background-color: #ffffff;
            padding: 0.8rem 1rem 0.8rem 1rem;
            display: flex;
            border-radius: 1rem;
            margin-top: 1rem;
            @include box-shadow-plats;
            overflow: hidden;
            cursor: pointer;
            max-width: 100%;
            
            animation: animation-plats 0.5s;
            animation-timing-function: cubic-bezier(0,0,1,1) ;
            animation-fill-mode: forwards;                          /* forwards ou both? je ne vois pas de différence */
            transform: scale(0);

            @include desktop-only {
                width: 30vw;
            }
            
            &__gauche {
                @include texte-trop-grand;
                flex: 1;
            }
        
            &__titre {
                font-size: 1.1rem;
                margin: 0rem;
                @include texte-trop-grand;
            }
        
            &__soustitre {
                margin: 0.3rem 0 0 0;
                font-size: 0.9rem;
                @include texte-trop-grand;
            }
        
            &__prix {
                font-size: 0.9rem;
                font-weight: bold;
                display: flex;
                justify-content: flex-end;
                align-items: flex-end;
                padding-left: 0.5rem;
            }
        
            &__box {
                background-color: $couleur-tertiaire;
                margin: -1rem -5rem -1rem 1rem;
                width: 4rem;
                display: flex;
                align-items: center;
                justify-content: center;
                transition-duration: 0.5s;
            }
        
            &__box--icone {
                height: 1.6rem;
                width: 1.6rem;
                background-color: white;
                display:flex;
                align-items:center;
                justify-content:center;
                border-radius: 100px;
                transform: rotate(180deg);
                transition-duration: 0.5s;
            }
        
            &:hover {
                .plats__box {
                   margin-right: -1rem;
                }
        
                .plats__box--icone {
                    transform: rotate(360deg);
                }
            }
        
            &__icone {
                color: $couleur-tertiaire;
            }
        }

        @for $i from 0 to 10 {
        .delay-#{$i} {
          animation-delay:  #{$i/10}s;
        }
      }
    
    }
}
