/* polices*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap');



@import "./Utils/variables";
@import "./Utils/mixins";
@import "./Base/base";
@import "./Base/typo";
@import "./Components/buttons";
@import "./Layouts/header";
@import "./Layouts/footer";





.explore {
    @include flex-column;
    background-color: map-get($background, explore);
    align-items: center;
    text-align: center;
    padding-bottom: 50px;
    
    

    h2 {
        
        font-size: 24px;
        padding-left: 15vw;
        padding-right: 15vw;
    }

    >p {
        
        font-size: 18px;
        font-weight: 300;
        padding-left: 15vw;
        padding-right: 15vw;
    }
}



.fonctionnement {
    
    @include flex-column;
    background-color: map-get($background, fonctionnement);
    width: 100%;
    padding-left: 8vw;
    padding-right: 5vw;
    padding-top: 20px;
    padding-bottom: 45px;
}

/*cartes affichage restaurants*/

.restaurants {
    
    background-color: map-get($background, restaurants);
    @include flex-column;
    width: 100%;
    padding-left: 4vw;
    padding-right: 4vw;
    padding-bottom: 7vh;
    padding-top: 25px;
    margin-bottom: 0px;

    .resto {
        
        @include flex-column;
        @include radius-cartes;
        box-shadow: 4px 4px 10px 1px rgb(229, 229, 229);
        width: 100%;
        margin-top: 3vw;
        margin-bottom: 3vw;
        height: 30vh;

        a {
            height: 70%;
        }

        &__img {
            @include radius-images;
            height: 100%;
            width: 100%;
            
        }

        &__nom {
            margin-bottom: 2px;
            font-size: 18px;
        }
        
        &__lieu {
            margin-top: 2px;
            font-size: 17px;
            font-weight: 300;
        }

        &__favoris {
            height: 24px;
            width: 24px;
            font-size: 24px;
            font-weight: lighter;
        }

        

        &__nouveau {
            
            background-color: $couleur-tertiaire;
            text-align: center;
            font-size: 14px;
            padding-top: 8px;
            @include police-nouveau;
            height: 30px;
            width: 90px;
            border-radius: 1px;
            

        }

        &__nouveau--boite {
            height: 50px;
            width: 110px;
            align-self: flex-end;
            position: absolute;
            padding-left: 10px;
            
        }

        .bas {
            @include flex-row;
            padding-right: 4vw;
            

            &__gauche{
                padding-left: 3vw;
                width: 79vw;
                
                
                @include flex-column;
            }

            &__droite {
                align-self: flex-start;
                padding-top: 20px;
                
            }

            .fa-heart:hover {
                background-color: yellow;
            }
        }
        
    }
}



/* pages restaurants */

section {
    @include flex-column;
}

.plats {
    @include radius-cartes;
    @include flex-row;
    @include bord;
    height: 10vh;
    margin-bottom: 2vh;

    &__gauche {
        /*@include flex-column;*/
        @include bord;
        /*justify-content: center;*/
        width: 90%;
        height: 10vh;

        h3 {
            
            margin-bottom: 0px;
        }

        p {
            
            margin-top: 0px;
            
        }
    }

    &__droite {
        
        height: 10vh;
        @include bord;

        p {
            @include bord;
            
        }
    }

}
