/* polices*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap');



@import "./Utils/variables";
@import "./Utils/mixins";
@import "./Base/base";
@import "./Base/typo";
@import "./Components/buttons";
@import "./Components/animations";
@import "./Layouts/header";
@import "./Layouts/footer";





.explore {
    
    background-color: map-get($background, explore);
    
    text-align: center;
    padding-bottom: 50px;
    
    

    &__titre {
        
        margin: 0rem;
    }

    &__soustitre {
        
        font-weight: 400;
        margin: 1rem 0rem;
        padding-bottom: 1rem
    }

    &__btn p {
        font-size: 1rem;
        margin-top: -2px;
        font-weight: 500;
    }
    
}



.fonctionnement {
    
    @include flex-column;
    background-color: map-get($background, fonctionnement);
    width: 100%;
    padding-left: 8vw;
    padding-right: 5vw;
    padding-top: 20px;
    padding-bottom: 45px;
}

/*cartes affichage restaurants*/

.restaurants {
    
    background-color: map-get($background, restaurants);
    @include flex-column;
    width: 100%;
    padding-left: 4vw;
    padding-right: 4vw;
    padding-bottom: 7vh;
    padding-top: 25px;
    margin-bottom: 0px;

    .resto {
        
        @include flex-column;
        @include radius-cartes;
        box-shadow: 4px 4px 10px 1px rgb(229, 229, 229);
        width: 100%;
        margin-top: 3vw;
        margin-bottom: 3vw;
        height: 30vh;

        a {
            height: 70%;
        }

        &__img {
            @include radius-images;
            height: 100%;
            width: 100%;
            
        }



        

        &__nouveau {
            
            background-color: $couleur-tertiaire;
            text-align: center;
            font-size: 0.9rem;
            padding-top: 8px;
            @include police-nouveau;
            height: 30px;
            width: 90px;
            border-radius: 2px;
            

        }

        &__nouveau--boite {
            height: 50px;
            width: 110px;
            align-self: flex-end;
            position: absolute;
            padding-left: 10px;
            
        }

        &__bas {
            @include flex-row;
            padding-right: 10px;
            margin-top: 0.5rem;
        }

        &__description {
            /*@include flex-row;*/
            /*padding-right: 4vw;*/
            
            width: 100%;
            padding-top: 0.5rem;
            padding-left: 0.5rem;
        }
        
        &__nom {
            margin: 0rem 0rem 0.25rem 0rem;
   
        }

        &__lieu {
            margin: 0rem;
        }
        
        
    }


        
        
    
}









    





















































/* pages restaurants */

.menu {
    
    @include flex-column;
    margin-top: 0px; 
    
    
    
}

.carte {
    background-color: map-get($background, explore);
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    padding-left: 4vw;
    padding-right: 4vw;
    padding-bottom: 4vh;
    margin-top: -48px;
    

    &__haut {
    
        @include flex-row;

    
    }

}









.plats {
    background-color: #ffffff;
    padding: 1rem;
    display: flex;
    border-radius: 1rem;
    margin-top: 1rem;
    box-shadow: 0.25rem 0.25rem 1rem #EAEAEA;
    overflow: hidden;
    cursor: pointer;
    max-width: 100%;
    animation: animation-plats 0.5s;
    animation-timing-function: cubic-bezier(0,0,1,1) ;
    animation-fill-mode: both;
    transform: scale(0);

    &__gauche {
        
        flex: 1;
    }

    &__titre {
        margin: 0rem;
        
    }

    &__soustitre {
        margin: 0rem;
        
    }

    &__prix {
        font-weight: bold;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        padding-left: 0.5rem;
    }

    &__box {
        background-color: $couleur-tertiaire;
        margin: -1rem -5rem -1rem 1rem;
        width: 4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        transition-duration: 0.5s;
    }

    &__box--icone {
        height: 1.6rem;
        width: 1.6rem;
        background-color: white;
        display:flex;
        align-items:center;
        justify-content:center;
        border-radius: 100px;
        transform: rotate(180deg);
        transition-duration: 0.5s;
    }

    &:hover {
        .plats__box {
           margin-right: -1rem;
        }

        .plats__box--icone {
            transform: rotate(360deg);
        }
    }

    &__icone {
        color: $couleur-tertiaire;
    }
}





















