@charset "UTF-8";
/* polices*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");
/* polices*/
/* box shadow */
/* boutons */
/* autres*/
/* loader page index */
img {
  object-fit: cover;
}

a {
  text-decoration: none;
}
a :hover {
  cursor: pointer;
}

* {
  box-sizing: border-box;
  /*indique au navigateur de prendre en compte la bordure et le remplissage dans la valeur définie pour la largeur et la hauteur*/
}

body {
  margin: 0 0 0 0;
}

* {
  font-family: "Roboto", sans-serif;
}

footer ul {
  list-style-type: none;
}
footer ul h2 {
  font-family: "Shrikhand", cursive;
  font-weight: lighter;
}

.menu h1 {
  font-family: "Shrikhand", cursive;
  font-weight: lighter;
}
.menu h2 {
  font-size: 16px;
  font-weight: normal;
}
.menu h3 {
  font-size: 18px;
  font-weight: 600;
}
.menu p {
  font-size: 15px;
  font-weight: 300;
}

/* bouton explorer*/
.explore__btn {
  width: 13.5rem;
  border: 0rem;
  padding: 1rem 1rem;
  font-weight: 400;
  font-size: 1rem;
  text-align: center;
  border-radius: 100px;
  color: white;
  background: linear-gradient(0deg, #9356dc 0%, #e771da 100%);
  box-shadow: 0.25rem 0.25rem 10px #d0d0d0;
  height: 3.1rem;
  margin-left: auto;
  margin-right: auto;
}
.explore__btn p {
  font-size: 1rem;
  margin-top: -2px;
  font-weight: 500;
}
.explore__btn:hover {
  box-shadow: 0.25rem 0.25rem 10px #c3c3c3;
  background: linear-gradient(0deg, #985ede, #ff83dd);
  cursor: pointer;
}

/* bouton commander */
.btn-commander {
  margin-top: 3rem;
  width: 12rem;
  border: 0rem;
  padding: 1rem 1rem;
  font-weight: 400;
  font-size: 1rem;
  text-align: center;
  border-radius: 100px;
  color: white;
  background: linear-gradient(0deg, #9356dc 0%, #e771da 100%);
  box-shadow: 0.25rem 0.25rem 10px #d0d0d0;
  height: 3.1rem;
  margin-left: auto;
  margin-right: auto;
}
.btn-commander p {
  font-size: 1rem;
  margin-top: -2px;
  font-weight: 500;
}
.btn-commander:hover {
  box-shadow: 0.25rem 0.25rem 10px #c3c3c3;
  background: linear-gradient(0deg, #985ede, #ff83dd);
  cursor: pointer;
}

/*partie fonctionnement*/
.btn-fonct {
  display: flex;
  flex-direction: row;
  background-color: #f6f6f6;
  box-shadow: 0.25rem 0.25rem 10px #d9d9d9;
  margin-bottom: 20px;
  border-radius: 20px;
  height: 70px;
  transition: all 250ms;
}
.btn-fonct:hover {
  background-color: #f5edff;
}
.btn-fonct:hover > .btn-fonct__icone {
  color: #9356DC;
}
.btn-fonct__ordre {
  background-color: #9356DC;
  border-radius: 60px;
  font-size: 14px;
  font-weight: bold;
  align-self: center;
  text-align: center;
  padding: 5px 2px 2px 2px;
  margin-right: 20px;
  margin-left: -12px;
  height: 25px;
  width: 25px;
  color: white;
}
@media (min-width: 768px) {
  .btn-fonct__ordre {
    margin-right: 10px;
  }
}
@media (min-width: 1024px) {
  .btn-fonct__ordre {
    margin-right: 20px;
  }
}
.btn-fonct__icone {
  align-self: center;
  color: gray;
  font-size: 20px;
  height: 30px;
  width: 30px;
  text-align: left;
  padding-top: 2px;
  margin-right: 15px;
  transition: all 250ms;
}
@media (min-width: 768px) {
  .btn-fonct__icone {
    margin-right: 0.1rem;
  }
}
@media (min-width: 1024px) {
  .btn-fonct__icone {
    margin-right: 15px;
  }
}
.btn-fonct__texte {
  text-align: center;
  font-weight: 500;
  align-self: center;
  font-size: 1rem;
}
@media (min-width: 768px) {
  .btn-fonct__texte {
    font-size: 0.9rem;
    text-align: left;
  }
}
@media (min-width: 1024px) {
  .btn-fonct__texte {
    font-size: 1rem;
    text-align: center;
  }
}
@media (min-width: 768px) {
  .btn-fonct {
    width: 28.5vw;
  }
}
@media (min-width: 1024px) {
  .btn-fonct {
    width: 26vw;
  }
}

/* coeurs favoris */
/* coeur favoris page accueil*/
.resto {
  margin-top: 0;
  /* coeur favoris pages restos */
}
.resto__btn--index {
  background-color: transparent;
  border: transparent 0px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: black;
  font-size: 1.5rem;
  height: 1.8rem;
  width: 1.8rem;
  margin-top: 0.5rem;
  margin-right: 1.5rem;
}
.resto__btn--index .fa-heart {
  text-align: center;
}
.resto__btn--index:hover .resto__fav--index--transparent {
  opacity: 0;
}
.resto__btn--index::before {
  opacity: 0;
  transition: 0.5s;
  content: "";
  height: 100%;
  width: 100%;
  background: linear-gradient(360deg, #9356DC 0%, #FF79DA 100%);
}
.resto__btn--index:hover::before {
  opacity: 1;
}
.resto__fav--index {
  transition-duration: 0.2s;
  position: absolute;
  /* superpose les 2 coeurs */
  height: 2rem;
  width: 2rem;
  display: flex;
  padding-top: 0.5rem;
  justify-content: center;
  mix-blend-mode: lighten;
  background-color: #ffffff;
}
.resto__btn--pages {
  background-color: transparent;
  border: transparent 0px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-top: 1.2rem;
  background-color: black;
  font-size: 1.5rem;
  height: 1.8rem;
  width: 1.8rem;
  padding-bottom: 0.2rem;
}
.resto__btn--pages .fa-heart {
  text-align: center;
}
.resto__btn--pages:hover .resto__fav--transparent {
  opacity: 0;
}
.resto__btn--pages::before {
  opacity: 0;
  transition: 0.5s;
  content: "";
  height: 100%;
  width: 100%;
  background: linear-gradient(360deg, #9356DC 0%, #FF79DA 100%);
}
.resto__btn--pages:hover::before {
  opacity: 1;
}
.resto__fav {
  transition-duration: 0.2s;
  position: absolute;
  /* superpose les 2 coeurs */
  height: 2rem;
  width: 2rem;
  display: flex;
  padding-top: 0.5rem;
  justify-content: center;
  mix-blend-mode: lighten;
  background-color: #f6f6f6;
}

@keyframes animation-plats {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  25% {
    transform: translateY(75%);
    opacity: 0.25;
  }
  50% {
    transform: translateY(50%);
    opacity: 0.5;
  }
  75% {
    transform: translateY(25%);
    opacity: 0.75;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
/*############### loader page index #############*/
@keyframes animLoader {
  100% {
    opacity: 0;
    z-index: -10;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*####################################################################################################*/
/*############################################### HEADER #############################################*/
/*####################################################################################################*/
/* logo titre*/
.header {
  padding: 1rem 1rem 0.5rem 1rem;
  box-shadow: 0rem 0rem 0.5rem #9e9e9e;
  position: relative;
}
.header__logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 1.8rem;
}
.header--retour {
  position: relative;
  align-items: center;
}
.header__fleche {
  position: absolute;
  top: 35%;
  left: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000000;
  font-size: 1.3rem;
}

.localisation {
  justify-content: center;
  display: flex;
  flex-direction: row;
  background-color: #eaeaea;
  width: 100%;
  height: 3rem;
}
.localisation__icone {
  align-self: center;
  width: 25px;
}
.localisation__lieu {
  text-align: center;
  margin-left: 10px;
  font-size: 1rem;
}

/*####################################################################################################*/
/*############################################### FOOTER #############################################*/
/*####################################################################################################*/
footer {
  background-color: #353535;
  width: 100%;
  padding-top: 0px;
  padding-bottom: 10px;
  margin-bottom: 0px;
  color: white;
}
footer a {
  color: white;
}
footer else {
  color: #000000;
}
footer else a {
  color: #000000;
}
footer i {
  height: 16px;
  width: 16px;
  font-size: 14px;
  padding-top: 2px;
  margin-right: 5px;
  align-self: flex-start;
}
footer .fa-hands-helping {
  font-size: 10px;
}
footer ul {
  padding-top: 0.5rem;
  padding-left: 4vw;
  margin-top: 0px;
}
footer ul li {
  display: flex;
  font-size: 16px;
  padding-bottom: 8px;
}
footer ul h2 {
  font-size: 18px;
  font-weight: 100;
}

/*####################################################################################################*/
/*############################################# PAGE INDEX ###########################################*/
/*####################################################################################################*/
/* loader spinner  */
#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: #ffffff;
  animation: animLoader 0.5s;
  animation-delay: 3s;
  animation-fill-mode: both;
}
#loader-wrapper #loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 5px solid transparent;
  border-top-color: #9356DC;
  border-radius: 50%;
  animation: spin 2s linear infinite;
  z-index: 1001;
}
#loader-wrapper #loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border: 5px solid transparent;
  border-top-color: #FF79DA;
  border-radius: 50%;
  animation: spin 3s linear infinite;
}
#loader-wrapper #loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border: 5px solid transparent;
  border-top-color: #99E2D0;
  border-radius: 50%;
  animation: spin 1.5s linear infinite;
}

/* partie explorer*/
.explore {
  background-color: #f6f6f6;
  text-align: center;
  padding-bottom: 4rem;
}
.explore__titre {
  margin: 0rem 0rem 0rem 0rem;
  padding: 2.3rem 3rem 0 3rem;
}
.explore__soustitre {
  font-size: 1.1rem;
  font-weight: 300;
  margin: 1rem 0rem;
  padding-bottom: 1rem;
}

/* partie fonctionnement*/
.fonctionnement {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;
  padding-left: 8vw;
  padding-right: 5vw;
  padding-top: 20px;
  padding-bottom: 45px;
}
.fonctionnement h2 {
  margin-left: -0.8rem;
}
@media (min-width: 768px) {
  .fonctionnement {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 4vw;
  }
  .fonctionnement h2 {
    margin-left: 0;
    width: 100%;
  }
}
@media (min-width: 1024px) {
  .fonctionnement {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .fonctionnement h2 {
    width: 100%;
  }
}

/*cartes affichage restaurants*/
.restaurants {
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 2rem 4vw 3.2rem 4vw;
  margin-bottom: 0rem;
}
@media (min-width: 1024px) {
  .restaurants__haut {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
.restaurants__bas {
  margin-top: 0rem;
  padding-top: 0rem;
}
@media (min-width: 1024px) {
  .restaurants__bas {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
.restaurants .resto {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  justify-content: space-between;
  box-shadow: 4px 4px 10px 1px #e5e5e5;
  width: 100%;
  margin-top: 0;
  margin-bottom: 1.2rem;
  margin-left: 0;
  margin-right: 0;
  height: 15rem;
  background-color: #ffffff;
}
@media (min-width: 1024px) {
  .restaurants .resto {
    width: 43vw;
  }
}
.restaurants .resto a {
  height: 70%;
}
.restaurants .resto__img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: 100%;
  width: 100%;
}
.restaurants .resto__nouveau {
  background-color: #99E2D0;
  text-align: center;
  font-size: 0.9rem;
  padding-top: 8px;
  color: #1b6150;
  height: 30px;
  width: 90px;
  border-radius: 2px;
}
.restaurants .resto__nouveau--boite {
  height: 50px;
  width: 110px;
  align-self: flex-end;
  position: absolute;
  padding-left: 10px;
}
.restaurants .resto__bas {
  display: flex;
  flex-direction: row;
  margin-top: 0rem;
  margin-bottom: 1rem;
}
@media (min-width: 1024px) {
  .restaurants .resto__bas {
    margin-bottom: 1rem;
  }
}
.restaurants .resto__description {
  width: 100%;
  padding-top: 0.5rem;
  padding-left: 0.8rem;
}
.restaurants .resto__nom {
  font-size: 1.1rem;
  padding: 0rem;
  margin: 0rem 0rem 0.25rem 0rem;
}
.restaurants .resto__lieu {
  font-size: 1rem;
  font-weight: 300;
  margin: 0rem;
}

/*####################################################################################################*/
/*########################################## PAGES RESTAURANTS #######################################*/
/*####################################################################################################*/
/* pages restaurants */
.menu {
  display: flex;
  flex-direction: column;
  margin-top: 0px;
}
.menu h2 {
  margin-left: 0.5rem;
}
@media (min-width: 1024px) {
  .menu .resto__img {
    height: 40vh;
  }
}
.menu .carte {
  background-color: #f6f6f6;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  padding-left: 2vw;
  padding-right: 2vw;
  padding-bottom: 10vh;
  margin-top: -48px;
}
@media (min-width: 1024px) {
  .menu .carte {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .menu .carte .carte__haut {
    width: 100%;
  }
}
.menu .carte__haut {
  display: flex;
  flex-direction: row;
  padding-top: 0.5rem;
  padding-right: 12px;
  /*margin-right: 5rem;*/
}
.menu .carte__haut h1 {
  width: 100%;
  font-size: 1.5rem;
  margin-left: 0.6rem;
}
.menu .carte__entrees .souligne {
  height: 0.2rem;
  width: 40px;
  margin-top: -10px;
  margin-left: 0.5rem;
  background-color: #99E2D0;
}
.menu .carte__plats {
  margin-top: 2.5rem;
}
.menu .carte__plats .souligne {
  height: 0.2rem;
  width: 40px;
  margin-top: -10px;
  margin-left: 0.5rem;
  background-color: #99E2D0;
}
@media (min-width: 1024px) {
  .menu .carte__plats {
    margin-top: 0rem;
  }
}
.menu .carte__desserts {
  margin-top: 2.5rem;
}
.menu .carte__desserts .souligne {
  height: 0.2rem;
  width: 40px;
  margin-top: -10px;
  margin-left: 0.5rem;
  background-color: #99E2D0;
}
@media (min-width: 1024px) {
  .menu .carte__desserts {
    margin-top: 0rem;
  }
}
.menu .carte .plats {
  background-color: #ffffff;
  padding: 0.8rem 1rem 0.8rem 1rem;
  display: flex;
  border-radius: 1rem;
  margin-top: 1rem;
  box-shadow: 0.25rem 0.25rem 1rem #d0d0d0;
  overflow: hidden;
  cursor: pointer;
  max-width: 100%;
  animation: animation-plats 0.5s;
  animation-timing-function: cubic-bezier(0, 0, 1, 1);
  animation-fill-mode: forwards;
  /* forwards ou both? je ne vois pas de différence */
  transform: scale(0);
}
@media (min-width: 1024px) {
  .menu .carte .plats {
    width: 30vw;
  }
}
.menu .carte .plats__gauche {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  flex: 1;
}
.menu .carte .plats__titre {
  font-size: 1.1rem;
  margin: 0rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menu .carte .plats__soustitre {
  margin: 0.3rem 0 0 0;
  font-size: 0.9rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menu .carte .plats__prix {
  font-size: 0.9rem;
  font-weight: bold;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-left: 0.5rem;
}
.menu .carte .plats__box {
  background-color: #99E2D0;
  margin: -1rem -5rem -1rem 1rem;
  width: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 0.5s;
}
.menu .carte .plats__box--icone {
  height: 1.6rem;
  width: 1.6rem;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  transform: rotate(180deg);
  transition-duration: 0.5s;
}
.menu .carte .plats:hover .plats__box {
  margin-right: -1rem;
}
.menu .carte .plats:hover .plats__box--icone {
  transform: rotate(360deg);
}
.menu .carte .plats__icone {
  color: #99E2D0;
}
.menu .carte .delay-0 {
  animation-delay: 0s;
}
.menu .carte .delay-1 {
  animation-delay: 0.1s;
}
.menu .carte .delay-2 {
  animation-delay: 0.2s;
}
.menu .carte .delay-3 {
  animation-delay: 0.3s;
}
.menu .carte .delay-4 {
  animation-delay: 0.4s;
}
.menu .carte .delay-5 {
  animation-delay: 0.5s;
}
.menu .carte .delay-6 {
  animation-delay: 0.6s;
}
.menu .carte .delay-7 {
  animation-delay: 0.7s;
}
.menu .carte .delay-8 {
  animation-delay: 0.8s;
}
.menu .carte .delay-9 {
  animation-delay: 0.9s;
}

/*# sourceMappingURL=style.css.map */
