@keyframes animation-plats {
    0% {
        
        transform: translateY(100%);
        opacity: 0;
    }

    25% {
        
        transform: translateY(75%);
        opacity: 0.25;
    }

    50% {
        
        transform: translateY(50%);
        opacity: 0.5;
    }


    75% {
        transform: translateY(25%);
        opacity: 0.75;
    }

    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}


@for $i from 0 to 9 {
    .delay-#{$i} {
      animation-delay:  #{$i/10}s;
    }
  }