@keyframes animation-plats {
    0% {
        
        transform: translateY(100%);
        opacity: 0;
    }

    25% {
        
        transform: translateY(75%);
        opacity: 0.25;
    }

    50% {
        
        transform: translateY(50%);
        opacity: 0.5;
    }


    75% {
        transform: translateY(25%);
        opacity: 0.75;
    }

    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}


/*############### loader page index #############*/




@keyframes animLoader {
    100% {
        opacity: 0;
        z-index: -10;
    }
}



@keyframes spin {
    0%   {
        
        transform: rotate(0deg); 
    }
    100% {
        
        transform: rotate(360deg); 
    }
}