img {
    object-fit: cover;
}

a {
    text-decoration: none;
}

*
{
    box-sizing: border-box; /*indique au navigateur de prendre en compte la bordure et le remplissage dans la valeur définie pour la largeur et la hauteur*/

}
