@mixin bord {
    border: solid 1px black;
}

@mixin radius-cartes {
    border-radius: 20px;
}

@mixin radius-images {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
}

@mixin flex-row {
    display: flex;
    flex-direction: row;
}

@mixin btn-generique-gradient {
background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(147,86,220,1) 0%, rgba(0,212,255,1) 100%);
}

@mixin btn-generique-align {
    
    text-align: center;
    font-weight: bold;
    justify-content: center;;
}

@mixin btn-generique-size {
    border-radius: 25px;
    height: 50px;
    width: 220px;    
}

@mixin police-nouveau ($couleur-police-nouveau: $couleur-tertiaire) {
    color: darken($couleur-police-nouveau, 50%)
}








@mixin box-shadow-btn-fonct ($ombre: map-get($background, fonctionnement)) {
    box-shadow: $shadow-dimension darken($ombre, 15%);
}

@mixin box-shadow-btn-explorer ($ombre: map-get($background, explore)) {
    box-shadow: $shadow-dimension darken($ombre, 15%);
}

@mixin box-shadow-titre ($ombre: map-get($background, localisation)) {
    box-shadow: 1px 1px 10px 0px darken($ombre, 30%);
}
