@mixin bord {
    border: solid 1px black;
}

@mixin bord2 {
    border: solid 1px white;
}

/* polices*/

@mixin police-shrikhand {
    font-family: 'Shrikhand', cursive;
}

@mixin pos-logo-accueil {
    

margin-right: auto;
margin-left: auto;
    
}




@mixin texte-trop-grand {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

@mixin police-nouveau ($couleur-police-nouveau: $couleur-tertiaire) {
    color: darken($couleur-police-nouveau, 50%)
}

@mixin barre-souligne {
    height: 0.2rem;
    width: 40px;
    margin-top: 0.3rem;
    background-color: $couleur-tertiaire;
}

/* box shadow */


@mixin box-shadow-titre ($ombre: map-get($background, localisation)) {
    box-shadow: 0rem 0rem 0.5rem darken($ombre, 30%);
}

@mixin box-shadow-btn-explorer ($ombre: map-get($background, explore)) {
    box-shadow: $shadow-dimension darken($ombre, 15%);
}

@mixin box-shadow-btn-fonct ($ombre: map-get($background, fonctionnement)) {
    box-shadow: $shadow-dimension darken($ombre, 15%);
}

@mixin box-shadow-plats ($ombre: map-get($background, restaurants)) {
    box-shadow: $shadow-dimension-plats darken($ombre, 15%);
}



/* boutons */

@mixin hover-btn-explore ($ombre: map-get($background, explore)) {
    box-shadow: $shadow-dimension darken($ombre, 20%);
    background: linear-gradient(0deg, lighten($couleur-primaire, 2%),lighten($couleur-secondaire, 2%));
}

@mixin btn-gradient {
    background:linear-gradient(0deg, rgba(147,86,220,1) 0%, rgba(231,113,218,1) 100%);
}

@mixin explore-btn {
    border: 0rem;
    padding: 1rem 1rem;
    font-weight: 400;
    font-size: 1rem;
    text-align: center;
    border-radius: 100px;
    @if (lightness($couleur-primaire) > 50%) {
        color: $police-blanche;
    }
    @include btn-gradient;
    @include box-shadow-btn-explorer;
    height: 3.1rem;
    
    margin-left: auto;
    margin-right: auto;
    & p {
        font-size: 1rem;
        margin-top: -2px;
        font-weight: 500;
    }
}

@mixin btn-fav {
    
    background-color: transparent;
    border: transparent 0px solid;
    
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    
}

@mixin fav {
        transition-duration: 0.2s;
        position: absolute; /* superpose les 2 coeurs */
        height: 2rem;
        width: 2rem;
        display: flex;
        padding-top: 0.5rem;
        justify-content: center;
        mix-blend-mode: lighten;
}



/* autres*/



@mixin radius-cartes {
    border-radius: 20px;
}

@mixin radius-images {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
}

@mixin flex-row {
    display: flex;
    flex-direction: row;
}

@mixin flex-row-reverse {
    display: flex;
    flex-direction: row-reverse;
}

@mixin flex-wrap {
    flex-wrap: wrap;    
}

@mixin flex-space-between {
    justify-content: space-between;
}

@mixin flex-space-around {
    justify-content: space-around;
}




@mixin tablette-only {
    @media (min-width: map-get($breakpoints, tablette)) {
        @content;
    }    
}

@mixin desktop-only {
    @media (min-width: map-get($breakpoints, desktop)) {
        @content;
    }
    
}