$couleur-primaire: #9356DC;
$couleur-secondaire: #FF79DA;
$couleur-tertiaire: #99E2D0;

$shadow-dimension: 0.25rem 0.25rem 10px;
$shadow-dimension-plats: 0.25rem 0.25rem 1rem;

$police-blanche: white;
$police-noire: #000000;

$fond-blanc: #ffffff;
$background-hover-btn-fonct: #f5edff;
$background: (

    localisation: (
        darken($fond-blanc, 8.2%)
    ),

    footer: (
        darken($fond-blanc, 79.2%)
    ),

    restaurants: (
        
        darken($fond-blanc, 3.6%)
    ),

    explore: (
        darken($fond-blanc, 3.6%)
    ),

    fonctionnement: (
        $fond-blanc
    ),

    btn-fonct: (
        darken($fond-blanc, 3.6%)
    )
);


$breakpoints: (
    tablette: 768px,
    desktop: 1024px
);