/* logo titre*/

header {
    text-align: center;
    @include flex-row-reverse;
    justify-content: flex-end;
    flex-wrap: wrap;
   
    .logo-accueil {
    @include pos-logo-accueil;
    @include box-shadow-titre;
    }

    .logo-pages {
        @include pos-logo-pages;
        margin-left: auto;
        margin-right: auto;
    }

    nav {
        width: 2rem;
        height: 60px;
        padding-left: 1rem;
        color: black;
        
        i {
            display: flex;
            font-size: 21px;
            padding-top: 22px;
            padding-right: 30px;
            width: 100%;
            height: 60px;
            justify-content: flex-start;
            color: black;
        }
    }
    
    .localisation {
        justify-content: center;
        @include flex-row;
        background-color: map-get($background, localisation);
        width: 100%;
        height: 3rem;
         
        &__icone {
            align-self: center;
            width: 25px;
        }

        &__lieu {
            text-align: center;
            margin-left: 10px;
            font-size: 1rem;
        }
    }
}
