/* logo titre*/
header {
    text-align: center;

    h1 {
    font-family: 'Shrikhand', sans-serif;
    }
    
    .localisation {
        justify-content: center;
        @include flex-row;
        @include bord;
        
        &__icone {
            align-self: center;
            @include bord;
        }
        &__lieu {
            text-align: center;
            
            @include bord;
        }
    }
}
